label {
  display: flex;
  width: 75px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background: #222;
  border-radius: 50px;
  cursor: pointer;
  position: relative;

  .sun {
    color: gold;
    transition: 0.8s;
    opacity: 1;
  }

  .moon {
    color: #fff;
    transition: 0.8s;
    opacity: 0;
  }

  .ball {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    left: 5px;
    background: #fff;
    border-radius: 50%;
    transition: 0.8s;
  }
}

input:checked + label {
  & .sun {
    transform: translateX(-43px);
    opacity: 0;
  }

  & .moon {
    transform: translateX(43px);
    opacity: 1;
  }

  .ball {
    transform: translateX(40px);
  }
}
