label {
  .ball {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    left: 5px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
  }
}

input:checked + label {
  background: #c0c0c0;

  & .sun {
    transform: translateX(-43px) rotate(160deg);
    opacity: 0;
  }

  & .moon {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }

  .ball {
    transform: translateX(40px);
    background: #222;
  }
}
